.navbar {
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  padding: 10px 0rem;

  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 90%;

    .left-nav {
      display: flex;
      align-items: center;
    }

    .logo {
      display: flex;
      align-items: center;

      .home {
        margin-left: 4rem;
      }

      span {
        font-weight: bold;
        font-size: 18px;
      }

      img {
        height: 40px;
        margin-right: 15px;
      }

      a {
        font-size: 18px;
        font-weight: bold;
        color: #333;
        text-decoration: none;

        &:hover {
          color: #007bff;
        }
      }
    }

    .search-bar {
      flex: 1;
      max-width: 500px;
      display: flex;
      align-items: center;
      position: relative;
      margin-right: 1rem;

      input {
        width: 100%;
        padding: 8px;
        border: 1px solid #ddd;
        border-radius: 10px;
        font-size: 14px;
        padding-right: 40px;
        box-sizing: border-box;
      }

      button {
        position: absolute;
        right: 10px;
        background: none;
        border: none;
        cursor: pointer;

        svg {
          fill: #888;
        }

        &:hover svg {
          fill: #007bff;
        }
      }
    }

    .nav-links {
      display: flex;
      align-items: center;
      gap: 20px;

      a {
        display: flex;
        align-items: center;
        font-size: 16px;
        color: #333;
        text-decoration: none;

        img {
          height: 24px;
          margin-right: 8px;
        }

        &:hover {
          color: #007bff;
        }
      }
      .cart-container {
        position: relative;
        display: flex;
        align-items: center;

        img {
          width: 24px;
          height: 24px;
        }

        .cart-badge {
          position: absolute;
          top: -8px;
          right: -8px;
          background-color: #00b5ad;
          color: white;
          border-radius: 50%;
          width: 20px;
          height: 20px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 12px;
        }
      }
    }

    .login {
      a {
        text-decoration: none;
        color: black;
      }
    }
  }
}
